<h1><%= @user.name %></h1>

<!-- <div class="row">
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placekitten.com/100/100" alt="...">
    </a>
  </div>
	<div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placekitten.com/100/100" alt="...">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placekitten.com/100/100" alt="...">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placekitten.com/100/100" alt="...">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placekitten.com/100/100" alt="...">
    </a>
  </div>
</div> -->

<%= render 'form' %>