<h1>Your Friendships</h1>


<h2>Pending Friend Request</h2>
<% @friendships.each do |friendship| %>
	<% if friendship.requester_id == current_user.id || friendship.receiver_id == current_user.id %>  
		<% if friendship.status == "Pending" %>
		  <%= "Friendship between #{User.find(friendship.receiver_id).name} and #{User.find(friendship.requester_id).name} is #{friendship.status}." %>
			<% if friendship.receiver_id == current_user.id && friendship.status == "Pending" %>
				<%= link_to "Accept Friend Request", "/friendships/#{friendship.id}/accept_friend" %>
			<% end %>
			<br>
		<% end %>
	<% end %>
<% end %>

<h2>Your Friends</h2>
<% @friendships.each do |friendship| %>
	<% if friendship.requester_id == current_user.id && friendship.status == "Accepted" %>
		<%= link_to "#{User.find(friendship.receiver_id).name}", "/users/#{friendship.receiver_id}/" %><br>
	<% elsif friendship.receiver_id == current_user.id && friendship.status == "Accepted" %>
		<%= link_to "#{User.find(friendship.requester_id).name}", "/users/#{friendship.requester_id}/" %><br>
	<% end %>
<% end %>
