

<h3>My Friends</h3>
<% @friendships.each do |friendship| %>
	<% if friendship.requester_id == current_user.id && friendship.status == "Accepted" %>
		<b><%= link_to "#{User.find(friendship.receiver_id).name}", "/users/#{friendship.receiver_id}/" %><b/><br>
	<% elsif friendship.receiver_id == current_user.id && friendship.status == "Accepted" %>
		<b><%= link_to "#{User.find(friendship.requester_id).name}", "/users/#{friendship.requester_id}/" %></b><br>
	<% end %>
<% end %>

<br>

<p><b>Pending Friend Requests</p></b>
<% @friendships.each do |friendship| %>
	<% if friendship.requester_id == current_user.id || friendship.receiver_id == current_user.id %>  
		<% if friendship.status == "Pending" %>
		  <em><%= "Your friendship with #{User.find(friendship.receiver_id).name} is #{friendship.status}!" %></em>
			<% if friendship.receiver_id == current_user.id && friendship.status == "Pending" %>
				<%= link_to "Accept Friend Request", "/friendships/#{friendship.id}/accept_friend", class: "btn btn-sm btn-primary btn-embossed approve" %>
				<br>
			<% end %>
			<br>
		<% end %>
	<% end %>
<% end %>
