
    <div class="slide1">
    	<div class="container landing">
    		<div class="landing-logo">
    			<%= image_tag("full_logo2.png") %>
    		</div>
    	</div>
    </div>

    <div class="slide2">
        <%= image_tag('playingoutside.jpg') %>
    </div>

    <div class="slide3">
        <%= image_tag('kidsreading.jpg') %>
    </div>





