.miniwords {
	font-size: medium;
}

#btn-add {
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 10px;
	height: 30px;
}

#unit-select {
	width: 30px;
}




.trophy > img {
    width: 170px;
}


.trophy {

	position: absolute;
	top: 55px;
	left: 30px;
	z-index: 10;
}

.prizenotice > img {
	width: 200px;
}

.prizenotice  {
	font-style: italic;
	font-weight: bold;
	color: #2C3E50;
	font-size: 20px;
	background: #d3fb7b;
	border-radius: 10px;
}

.prizenotice > span {
	margin: 0 auto;

}