

.landing-logo {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.landing-logo > img {
	width: 800px;
}

.slide1 { 
    position: fixed;
    z-index: 1;  /* sets it below the other slides in the layer stack */
    height: 100%;
    background-color: #e7fca9;
}
.slide2 {
    position: relative;
    z-index: 2;  /* sets it above .slide1  */
    margin-top: 100%; /* this pushes it below .slide1 in the scroll */
    height: 100% /* full length slides */
}

.slide3 {
    position: relative;
    z-index: 2;  /* sets it above .slide1  */
    margin-top: 100%; /* this pushes it below .slide1 in the scroll */
    height: 100% /* full length slides */  
}