body.pages {
    background-color: #9B59B6;

    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }

    .slide1 > img {
        width: 900px;
        margin-left: 18%;
        margin-top: 38px;

    }

    .slide1 { 
        position: fixed;
        z-index: 1;  /* sets it below the other slides in the layer stack */
        height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #mission {
       color: white;
        margin-left: 10%;
        font-weight: 700;
        font-size: 25px; 
    }
    .slide1 > p {
        color: #502861;
        margin-left: 40%;
        font-weight: 700;
        font-size: 25px; 
    }

    .slide2 {
        position: relative;
        z-index: 2;  /* sets it above .slide1  */
        margin-top: 55%; /* this pushes it below .slide1 in the scroll */
        height: 95% /* full length slides */
    }

    .slide2 > img {
        width: 100%;
    }

    .slide3 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide3 > img {
        width: 100%;
    }

    #signup {
        width: 250px;
        margin-left: 36%;
       
    }

    .slide4 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide4 > img {
        width: 100%;
    }

    .slide5 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide5 > img {
        width: 100%;
    }

    .slide6 {
        position: relative;
        margin-top: 0; /* this pushes it below .slide1 in the scroll */
        height: 100%; /* full length slides */
        z-index: 3;
    }

    .slide6 > img {
        width: 100%;
    }

    #signup2 {
        width: 250px;
    }

    .signupbutton {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 380px;
        left: 840px;
        z-index: 10;
    }

}

