.avatar {
	float:left;
	margin-right: 30px;
	border-radius: 10px;
	max-width: 150px;
	max-height: 150px
	
}

.col-md-3 {
	width: 140px;
}

.login-form {
	width: 400px;
}

.login-form .login-field {
	width: 350px;
}