<!-- nothing links to this page yet -->

<h1>Report Index Page</h1>

<ul>
	<% @reports.each do |report| %>
		<li><%= "#{report.amount}" %></li>
	<%end%>
</ul>

<% if current_user.role == "kid" %>
	<%= link_to "Create a New Report", "reports/new" %>
	
<% end %>

