<h1>Report Index Page</h1>

<ul>
	<% @reports.each do |report| %>
		<% if report.status == 0 && current_user.role == "parent" %>
			<%= "REPORT: #{report.amount}" %>
			<%= link_to "Approve", report_path(report.id), method: "put" %>
		<% end %>
	<% end %>
</ul>


