<h1>Reports Show</h1>

<br>

<% if current_user.role == "kid" %>
	<%= "Awesome job! You just submitted #{Report.last.amount} toward your goal!" %>
<% else %>
	<%= "Thanks for approving the progress!" %>
<% end %>


<br><br>

<%= link_to 'Back to Home', root_path %>